/*
*  Imports
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);


/*
*  Global styles
*/
html,
body,
.main-container {
    height: 100%;
    margin: 0 auto;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

/*
*  Typography
*/

h2,
h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #313131;
    word-wrap: break-word;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
    width: 170px;

}

h4 {
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 40px;
    color: rgba(0, 182, 15, 0.7);
}

.card:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.holder {
    margin:15px 0;
}
.holder a {
    font-size:12px;
    cursor:pointer;
    margin:0 5px;
    color:#333;
}
.holder a:hover {
    background-color:#222;
    color:#fff;
}
.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin:0 5px;
}
form {
    float:right;
    margin-right:10px;
}
form label {
    margin-right: 5px;
}

