# disable localhost configuration by adding # to each line
#SetEnv dbhost localhost
#SetEnv dbuser nirvik
#SetEnv dbpass 123456
#SetEnv dbname aitgames

SetEnv dbhost oa4.info
SetEnv dbuser aitgames
SetEnv dbpass AdvancedWeb2019
SetEnv dbname aitgames