# disable localhost configuration by adding # to each line
# SetEnv dbhost localhost
# SetEnv dbuser website
# SetEnv dbpass password
# SetEnv dbname data

SetEnv dbhost oa4.info
SetEnv dbuser aitgames
SetEnv dbpass AdvancedWeb2019
SetEnv dbname aitgames