<link rel="stylesheet" href="css/header.css">

<div class="bg-dark">
    <div class="container">
        <div class="main-logo">
            <a href="index.php" class="logo"><img src="images/logo.png"></a>
        </div>

        <div class="menu-search">
            <!-- Main Navigation -->
            <div class="main-navigation">
                <div class="side-logo">
                    <a href="ShoppingCart.php" class="logo"><img src="images/cart_Icon.png"></a>
                </div>
            </div>

            <div class="main-navigation">
                <div class="content">
                    <div class="content">
                        <a href="login.php">Login</a>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="font-size:24px;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Platform</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="PC.php">PC</a>
                    <a class="dropdown-item" href="PS4.php">PS4</a>
                    <a class="dropdown-item" href="#">XBOX</a>
                    <a class="dropdown-item" href="#">NINTENDO SWITCH</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="sell.php">Sell</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="newsPage.php">News</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="faq.php">FAQ</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="aboutus.php">About us</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>
    
        
    </div>
</nav>