<!DOCTYPE html>
<html>
{% include 'partials/head.twig' %}
    <head>
        <link rel="stylesheet" href="css/aboutus.css">
    </head>
        {% include 'partials/navigation.twig' %}
    <body>
        <main class="container">                
            <div class="row1">
                <div class="column1 col40" align="center">
                <img src="images/games.jfif" class="rounded mx-auto d-block" style="height: 200px;">
                </div>

                <div class="column1 col60">
                    <h2>About us</h2>
                    <h4>
                    We love games and we know you love it too! 
                    </h4>    
                </div>
            </div>

            <div class="row1">
                <div class="column1">
                    <img src="images/whoarewe.jfif" class="rounded mx-auto d-block"  style="height: 250px;">
                    <h4>Who are we?</h4>
                    <p>
                    We started to build this website in our university at AIT Sydney. We found 
                    gaming is one of our hobbie what all of us enjoy 
                    a lot, so the idea came up very fast, and the result is...well you can 
                    see yourself!
                    </p>
                </div>

                <div class="column1">
                    <img src="images/whatwedo.jfif" class="rounded mx-auto d-block"  style="height: 250px;">
                    <h4>What we do?</h4>
                    <p>
                    We are selling brand new game titles, for all the biggest platforms such as XBOX1, PS4, Nintendo Switch and PC.<br> But that is not all! We buying games from our customers for cash, so if you have a game what you had enough of, come and see us!<br>Did you see coming? It is not all! We also compare prices with the biggest three market in gaming JBHifi, Amazon and Harvey Norman, check out our price comparison tables and find the best deal!
                    </p>
                </div>
                <div class="column1">
                    <img src="images/whychooseus.jfif" class="rounded mx-auto d-block"  style="height: 250px;">
                    <h4>Why choose us?</h4>
                    <p>
                    It is simple! Choose us because we are the best! Buying, selling, compare, changing games, you will find everything what you looking for, and we always try to help you to make the best deal what you have ever done!
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>