<html>
{% include 'partials/head.twig' %}
    <head>
        <link rel="icon" href="Asset/icon.png">
        <link rel="stylesheet" href="css/faq.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    {% include 'partials/navigation.twig' %}
    <body class="main-container">
        <div class="container">
            <div>
                <div id="FAQ-title">
                    Frequently Asked Questions
                </div>
            </div>

            <div class = "accordion">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Is there a way to sell my games faster?</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Yes, you could sell directly to us with cheaper than market price. But we will give your money as soon as we verify the game.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Do you ship games overseas?</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">As of now we don't ship overseas for physical product. But we do sell games code internationally.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">How long will it take for my purchase to be delivered?</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">We strive to give the best possible service to our customer. In most cases it will take 1-3 days, but there might be unforseen circumstances which might delay the shipment. If that happens feel free to contact us!</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Do you accept payment in cash?</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">No, because we don't have a physical store yet.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">What are the payment methods available?</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">As the moment, we only accept Credit/Debit cards and Paypal payments.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">How can I change my shipping address?</a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">By default, the last used shipping address will be use. When you are checking out your order, you have the option to change the default shipping address.</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>