<!DOCTYPE html>
<html lang="en" >
{% include 'partials/head.twig' %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css'>
        <link rel="stylesheet" href="css/newsPage.css">
    </head>
    {% include 'partials/navigation.twig' %}
    <body>
        <main class="container">
            <div class="banner"><img src= "gaming-news.png"></div>

            <a href="https://www.express.co.uk/entertainment/gaming/1070995/Nintendo-Switch-news-Sony-PS4-milestone" target="_blank">
                <div class="row1 rowbox">
                    <div class="column1 col40">
                        <p align="center"><img src="images/News/nintendo_20banner.jpg"></p>
                    </div>
                    <div class="column1 col60">
                        <h3>Nintendo Switch news</h3>
                        <p>
                            The Nintendo Switch is on a roll heading into 2019, with the latest news suggesting a big sales milestone win against Sony's PS4 console.It's fair to say that when it comes to the current console generation, Sony PlayStation has laid down the marker to beat. And while it's probably beyond Microsoft's Xbox One to catch up with the PS4, it may be a different matter when it comes to read more..
                        </p>
                    </div>
                </div>
            </a>

            <div class="row1">

                <div class="rowbox column1">
                    <a href=https://www.gamespot.com/articles/new-overwatch-skins-coming-with-lunar-new-year-201/1100-6464465 target="_blank">
                        <p align="center"><img src="images/News/overwatchnews.jpg"></p>
                        <h4>Year Of The Pig Skins for Overwatch</h4>
                        <p>
                            One of the most popular video game is not planning to slow down just yet, 2019 starts with Lunar new year and Blizzard is rolling with this event of course...
                        </p>
                        <button>read more...</button>
                    </a>
                </div>

                <div class="rowbox column1">
                    <a href="https://www.gamespot.com/articles/unlocking-kingdom-hearts-a-story-recap/1100-6464427/" target="_blank">
                        <p align="center"><img src="images/News/kingdomhearts3.jpg"></p>
                        <h4>Kingdom Hearts 3 is coming soon!</h4>
                        <p>
                            2019 January arguable biggest title is coming on 29th of January! We help you revive the not so simple story line in this article!
                        </p>
                        read more...
                    </a>
                </div>

                <div class="rowbox column1">
                    <a href="https://www.gamespot.com/articles/mortal-kombat-11-gameplay-trailer-reveals-first-ne/1100-6464464/" target="_blank">
                        <p align="center"><img src="images/News/mk11.jpg"></p>
                        <h4>Mortal Kombat 11 first gameplay revealed</h4>
                        <p>
                            Yes! It is not a fake news, or a joke Mortal Kombat number 11 is coming out soon and it is better than ever!
                        </p>
                        read more...
                    </a>
                </div>
            </div>

            <h3>LATEST STORIES</h3>
            <a href="https://www.polygon.com/gaming/2018/12/31/18156570/games-of-2019-most-anticipated" target="_blank">
                <div class="row1 rowbox">
                    <div class="column1 col40">
                        <p align="center"><img src="images/News/2019.jpg"></p>
                    </div>

                    <div class="column1 col60">
                        <h3>2019 most anticipated games</h3>
                        <p>
                            2019 is here, so we collected you the most anticipated games, what we just can't wait to play with have a look of the TOP 50...
                        </p>
                        read more...
                    </div>
                </div>
            </a>

            <a href="https://www.youtube.com/watch?v=Q3VATVtJYIM" target="_blank">
                <div class="row1 rowbox">
                    <div class="column1 col40">
                        <p align="center"><img src="images/News/ninja.jpg"></p>
                    </div>
                    <div class="column1 col60">
                        <h3>Interviw with Ninja</h3>
                        <p>
                            Tyler Blevins or more commonly known by his online alias 'Ninja' is an American Twitch steamer who plays currently Fortnite... Get to know hime by clicking read more button... (27 minutes)
                        </p>
                        read more...
                    </div>
                </div>
            </a>

            <a href="https://www.vrfocus.com/2019/01/the-best-playstation-vr-games-coming-in-2019/" target="_blank">
                <div class="row1 rowbox">
                    <div class="column1 col40">
                        <p align="center"><img src="images/News/psvr.jpg"></p>
                    </div>
                    <div class="column1 col60">
                        <h3>PS VR</h3>
                        <p>
                            PS VR titles coming up in 2019, we are provide you a short list what we think is going to worth your money and time...
                        </p>
                        read more...
                    </div>
                </div>
            </a>

            <a href="https://heroesofthestorm.com/en-gb/game/" target="_blank">
                <div class="row1 rowbox">
                    <div class="column1 col40">
                        <p align="center"><img src="images/News/hots.jpg"></p>
                    </div>
                    <div class="column1 col60">
                        <h3>Heroes of the strom</h3>
                        <p>
                            The MOBA genre exploded the last two years, one of the reason is the Heros of the strom. If you new to the genre let's have a quick look of the basics of the heavily strategic game by clicking the read more button!
                        </p>
                        read more...
                    </div>
                </div>
            </a>

        </main>

    </body>
</html>